<nav class="navbar navbar-inverse">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#spaceNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
	  <a class="navbar-brand" href="/">Star Lords</a>
	</div>
	<div class="collapse navbar-collapse" id="spaceNavbar">
		<ul class="nav navbar-nav navbar-right"> 			
			<li {% if request.path == "/families" %}class="active"{% endif %}><a href="/families">Families</a></li>
			<li {% if request.path == "/constellations" %}class="active"{% endif %}><a href="/constellations">Constellations</a></li>
			<li {% if request.path == "/stars" %}class="active"{% endif %}><a href="/stars">Stars</a></li>
			<li {% if request.path == "/planets" %}class="dropdown active"{% endif %}{% if request.path == "/exoplanets" %}class="dropdown active" {% else %}class="dropdown"{% endif %}>
			  <a class="dropdown-toggle" data-toggle="dropdown">Planets
			  <span class="caret"></span></a>
			  <ul class="dropdown-menu">
				<li><a href="/planets">Planets</a></li>
				<li><a href="/exoplanets">Exoplanets</a></li>
			  </ul>
			</li>
			<li {% if request.path == "/moons" %}class="active"{% endif %}><a href="/moons">Moons</a></li>
			<li {% if request.path == "/aboutus" %}class="active"{% endif %}><a href="/aboutus">About Us</a></li>
			<li {% if request.path == "/unittest_results" %}class="active"{% endif %}><a href="/unittest_results">Unit Tests</a>
		</ul>
	</div>
  </div>
</nav>