<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
				<div class="navbar-header">
				  <a class="navbar-brand" href="/">Star Lords</a>
				</div>
				<ul class="nav navbar-nav navbar-right">   
					<li><a href="#">Planets</a></li>
					<li><a href="#">Moons</a></li>
					<li><a href="#">Comets</a></li>
					<li><a href="#">Asteroids</a></li>
					<li><a href="#">Regions</a></li>
					<li {% if request.path == "/aboutus" %}class="active"{% endif %}><a href="/aboutus">About Us</a></li>
					<li {% if request.path == "/dictionary" %}class="active"{% endif %}><a href="/dictionary">Dictionary</a></li>
				  </ul>
			  </div>
		  </nav>